doctype html
html(ng-app)
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Chat
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
		script(src='http://code.jquery.com/jquery-2.1.0.min.js')
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
		script(src='js/chat.js')
	body(ng-controller='ChatCtrl')
		.container-fluid
			.row.main_row
				.col-xs-10.messages_block
					div(ng-repeat='message in messages track by $index', class="{{message.history ? 'history_message' : ''}} {{message.info ? 'info_message' : ''}} {{message.personalMessage ? 'personal_message' : ''}}")
						| {{message.time}} 
						a.nick(ng-click='sayTo(message.from)', href) {{message.from ? message.from : ''}}
						|  {{message.text}}
				.col-xs-2.users_block
					| now {{users.length}} users here
					ul
						li(ng-repeat='user in users track by $index')
							a(ng-click='sayTo(user)', href) {{user}}
				.col-xs-12.controls_block
					form(role='form', ng-submit='sendMessage()')
						.row
							.col-xs-10
								input(placeholder='Enter your message', ng-model='message', autofocus).form-control
							.col-xs-2
								input(type='submit', value='send').btn.btn-primary.send_button