html, body, .container-fluid, .messages_block, .users_block, .main_row
	height 100%

.messages_block
	background-color #fff
	overflow-y scroll

.nick
	color #b92c28

.users_block
	background-color #fff
	overflow-y scroll
	border-left 1px solid #dcdcdc

.controls_block
	background-color #fff
	height 50px

.main_row
	padding-bottom 50px

.personal_message
	font-weight bold

.info_message
	color #336699

.history_message
	color #dcdcdc

.send_button
	width 100%